/* Basic CSS reset */
*,
:after,
:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    background-color: #ECECEC;
}

/* You start your css below */

.editorial {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.SimpleSlider {
    position: absolute;
    height: 140px;
    width: 50%;
    outline: 1px solid white;
    bottom: 400px;
    right: 350px
}

.SimpleSlider IMG {
    position: absolute;
    opacity: 1;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.SimpleSlider IMG.is-hidden {
    opacity: 0;
}

.editorial_card {
    text-align: center;
    padding: 10px;
    padding-left: 250px;
    padding-right: 65px;
    padding-top: 30px;
    padding-bottom: 90px;
    background-color: #c2d5c4;
    margin-left: 155px;


}

.dato {
    position: relative;
    font-size: 2rem;
    right: 150px;
    bottom: 0px;
    color: slategrey;
}

.ny {
    position: relative;
    font-size: 1.5rem;
    left: 70px;
    margin-left: -290px;
    top: 40px;
    color: darkslategrey;
}

.fa {
    position: relative;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    right: 200px;
    top: 120px;
    margin-left: 10px;
    -moz-box-shadow: 0px 0px 3px 5px grey;
    -webkit-box-shadow: 0px 3px 0px 5px grey;
    box-shadow: 0px 0px 3px 5px white;

    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    padding-right: 25px;
}




.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}


.tekster {
    color: black;
}

.grid-container2 {
    display: none;
}

.grid-container {
    margin-top: 0px;
    display: grid;
    grid-template-columns: 380px;
    grid-template-rows: 350px 250px 300px 350px 350px;
    gap: 0px 0px;
    color: black;
    background-color: #ECECEC;
    grid-template-areas:
        "box1"
        "box2"
        "box3"
        "box4"
        "box5";
}

.box1 {
    grid-area: box1;
}

.box2 {
    grid-area: box2;
}

.box3 {
    grid-area: box3;
}

.box4 {
    grid-area: box4;
}

.box1 {
    font-family: 'Permanent Marker';
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    margin-left: 10px;
    margin-top: 80px;
    
}

.box2{
    margin-top: 0px;
}

.lbillede {
    max-width: 95%;
margin-left: 10px;
    margin-top: 150px;
}

.box3 {
    font-family: 'Permanent Marker';
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    margin-left: 10px;
    margin-top: 190px;
}

.box5 {
    font-family: 'Permanent Marker';
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    margin-left: 10px;
    margin-top: 230px;

}

.page_footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45rem;
    align-items: center;
    text-align: center;
    padding-top: 35px;
    background-color: #c2d5c4;
    margin-top: 0px;
    color: darkslategrey;
    font-size: 1.5rem;
}

.some_image {
    width: 32px;
    margin-right: 16px;
}

.footer_card_heading {
    margin-bottom: 7px;
    color: darkslategrey;
    font-size: 1.5rem;
}

.footer_card:first-child .footer_card_heading {
    margin-bottom: 16px;
}

.footer_link {
    text-decoration: none;
    color: darkslategrey;
}

.footer_card1 {
    margin-bottom: 30px;
}

@media only screen and (min-width: 900px) {
    
    .grid-container {
        display: none;
    }

    .editorial {
        width: 90%;
        position: absolute;
        right: 170px;
        top: 250px;
    }

    .editorial_card {
        width: 95%;
        position: absolute;
    }

    .fa {
        position: relative;
        left: 500px;
        top: 100px;
        }
    
    .fa-facebook {
        margin-right: 30px
    }
    
    .fa-twitter {
        margin-right: 30px;
    }
    
   .grid-container2 {
       position: relative;
       margin-top: 200px;
       right: 15px;

  display: grid;
  grid-template-columns:600px 600px;
  grid-template-rows: 350px 300px 300px 350px;
  gap: 0px 0px;
  grid-template-areas:
    "box1 box2"
    "box3 box4"
    "box5 box5";
}

.box1 { grid-area: box1; }

.box2 { grid-area: box2; }

.box3 { grid-area: box3; }

.box4 { grid-area: box4; }

.box5 { grid-area: box5; }


.box1 { grid-area: box1; }

.box2 { grid-area: box2; }

.box3 { grid-area: box3; }

.box4 { grid-area: box4; }

.box5 { grid-area: box5; }


    .box1{
        position: relative;
        right: 10px;

            margin-top: 160px;
    }
    

    .box2 {
        width: 100%;
        margin-top: 10px;
        margin-left: 117px
    }
    
    .box3{
        margin-left: 50px;
        width: 70%;
        margin-top: 0px;
        
    }
    
    .box4{
       position: relative;
        color: black;
        font-size: 1.5rem;
        margin-top: 250px;
        margin-left: 40px;
        font-family: c;
        left: 85px;
        width: 97%;
        
    }
    
    .box5 {
        margin-left: 640px;
    }
    
    .page_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
        margin-left: 20px;
        margin-right: 20px;
    height: 20rem;
    align-items: center;
    text-align: center;
    padding-top: 35px;
    background-color: #c2d5c4;
    margin-top: 10px;
    color: darkslategrey;
    font-size: 1.5rem;
        position: absolute;
        width: 85%;
        right: 110px;
        
        
        
}
    
    

}
