/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

/* scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Samme styling */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: lightskyblue;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}

/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    background: lightskyblue;
}
.logo {
  max-width: 30%;
}
.navbar.sticky{
    padding: 15px 0;
    background: grey;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    font-family: 'ZCOOL KuaiLe', cursive;
}
.navbar .logo a span{
    color: lightskyblue;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #111;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: lightskyblue;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: lightskyblue;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}


/* home section styling */
.home{
    display: flex;
    background: url("images/virk.JPG") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
  width: 100%;
  display: flex;
}
.home .max-width .row{
  margin-right: 0;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: lightskyblue;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: lightskyblue;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid lightskyblue;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: lightskyblue;
    background: none;
}

/* about section styling */
.about .title::after{
    content: "Hvem er jeg";
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
    border: 1px solid black;
}


.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: lightskyblue;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: lightskyblue;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid lightskyblue;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: lightskyblue;
    background: none;
}



/* Projekter section styling */
.tilbyde1 {
    max-width: 50%;  
}

.tilbyde3 {
    max-width: 44%;
}
.services, .teams{
    color:#111;
    background: #fff;
}
.services .title::before,
.teams .title::before{
    background: #111;
}
.services .title::after,
.teams .title::after{
    background: #fff;
    content: "Hvad kan jeg";
}
.services .serv-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 0px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 30px;
}
.services .serv-content .card:hover{
    background: lightskyblue;
}
.services .serv-content .card .box{
    transition: all 0.3s ease;
}
.services .serv-content .card:hover .box{
    transform: scale(1.05);
}
.services .serv-content .card i{
    font-size: 50px;
    color: lightskyblue;
    transition: color 0.3s ease;
}
.services .serv-content .card:hover i{
    color: #fff;
}
.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
    color: #fff;
}
.services .serv-content .card p {
    color: #fff;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Columns som svæver ved siden af hinanden */
.column {
  float: left;
  width: 25%;
}

.tilbydetekst {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
    
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: lightskyblue;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* Close Button */
.close {
  margin-top: 80px;
  color: #111;
  position: absolute;
  top: 10px;
  right: 0;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #111;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text  */
.numbertext {
  color: #111;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;

}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
  width: 50%; 
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* skills section styling */

.skills .title::after{
    content: "Hvad jeg ved";
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a{
    display: inline-block;
    background: lightskyblue;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid lightskyblue;
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color: lightskyblue;
    background: none;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: lightskyblue;
}
.skills-content .right .html::before{
    width: 80%;
}
.skills-content .right .css::before{
    width: 65%;
}
.skills-content .right .js::before{
    width: 50%;
}
.skills-content .right .photo::before{
    width: 50%;
}
.skills-content .right .ill::before{
    width: 60%;
}

/* Graph med mine skills */

@import url(https://fonts.googleapis.com/css?family=Oswald:700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);

/* XD */
@-keyframes grow-90 {
  from {
    right: 100%;
  }
  to {
    right: 45%;
  }
}

@-webkit-keyframes grow-90 {
  from {
    right: 100%;
  }
  to {
    right: 45%;
  }
}
/* Photoshop */
@-keyframes grow-75 {
  from {
    right: 100%;
  }
  to {
    right: 25%;
  }
}

@-webkit-keyframes grow-75 {
  from {
    right: 100%;
  }
  to {
    right: 25%;
  }
}

/* Illustrator */
@-keyframes grow-50 {
  from {
    right: 100%;
  }
  to {
    right: 17%;
  }
}

@-webkit-keyframes grow-50 {
  from {
    right: 100%;
  }
  to {
    right: 17%;
  }
}

/* HTML */
@-keyframes grow-60 {
    from {
      right: 100%;
    }
    to {
      right: 5%;
    }
  }
  
  @-webkit-keyframes grow-60 {
    from {
      right: 100%;
    }
    to {
      right: 5%;
    }
  }

  /* CSS */
  @-keyframes grow-css {
    from {
      right: 100%;
    }
    to {
      right: 15%;
    }
  }
  
  @-webkit-keyframes grow-css {
    from {
      right: 100%;
    }
    to {
      right: 15%;
    }
  }

  /* JavaScript */
  @-keyframes grow-js {
    from {
      right: 100%;
    }
    to {
      right: 37%;
    }
  }
  
  @-webkit-keyframes grow-js {
    from {
      right: 100%;
    }
    to {
      right: 37%;
    }
  }




h1 {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #5a656b;
  text-shadow: 2px 1px 0px #fff, 3px 2px 2px #999;
}

#skills {
  margin: 10px auto 0 auto;
  position: relative;
  width: 98%;
}

#apps {
  float: left;
  text-align: right;
  width: 19%;
}

#apps p {
  padding: 12.5px 0;
  position: relative;
  text-align: right;
  z-index: 2;   
  margin-right: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
}



#scale {
  padding-bottom: 30px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -30px;
}

#scale p {
  position: absolute;
  
  left: -0.3%;
}

#scale p.one {
  left: 24%;
}
#scale p.two {
  left: 49%;
}
#scale p.three {
  left: 74%;
}
#scale p.four {
  left: 99%;
}

.grid {
  border-left: 1px dotted lightskyblue;
  border-bottom: 1px dotted lightskyblue;
  float: left;
  justify-content: center;
  padding: 10px 0;
  position: relative;
  width: 60%;
  margin-left: 25px;
}

.bar {
  float: left;
  height: 15px;
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  z-index: 1;
}

.bar .inner {
  background-color: lightskyblue;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
}

.bar.pct-90 .inner {
  -webkit-animation-duration: 2s;
  -webkit-animation-name: grow-90;
  right: 45%;
}

.bar.pct-75 .inner {
  -webkit-animation-duration: 3s;
  -webkit-animation-name: grow-75;
  right: 25%;
}

.bar.pct-50 .inner {
  -webkit-animation-duration: 5s;
  -webkit-animation-name: grow-50;
  right: 17%;
}

.bar.pct-60 .inner {
    -webkit-animation-duration: 5s;
    -webkit-animation-name: grow-60;
    right: 5%;
  }

  .bar.pct-css .inner {
    -webkit-animation-duration: 5s;
    -webkit-animation-name: grow-css;
    right: 15%;
  }

  .bar.pct-js .inner {
    -webkit-animation-duration: 5s;
    -webkit-animation-name: grow-js;
    right: 37%;
  }

.v-divider {
  border-right: 1px dotted #f0c89d;
  position: absolute;
  left: 0;
  right: 25%;
  bottom: 0;
  top: 0;
  z-index: 0;
}

.v-divider.one {
  right: 75%;
}
.v-divider.two {
  right: 50%;
}


/* contact section styling */

.contact .title::after{
    content: "Hør nærmere";
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: lightskyblue;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #333;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
.contact .right form .button-area{
  display: flex;
  align-items: center;
}
.right form .button-area button{
  color: #fff;
  display: block;
  width: 160px!important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: lightskyblue;
  border: 2px solid lightskyblue;
  transition: all 0.3s ease;
}
.right form .button-area button:hover{
  color: lightskyblue;
  background: none;
}



/* responsive media query start */
@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: lightskyblue;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .serv-content .card{
        width: 100%;
    }
    .logo {
      max-width: 40%;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .right form .error-box{
       width: 150px;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
    
}




  





